html, body {
  width: 100%;
  height: 100%;
}

body {
  background: #041019;
  font-family: "DINPro", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif, Helvetica, Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

::selection {
  background: #73ACE6;
}


.font {
  font-weight: 400;
  color: #7C73E6;
  background-image: linear-gradient(-60deg, #7C73E6 0%, #73ACE6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.score-area {
  width: 640px;
  height: 640px;
  display: flex;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.circle {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.circle-smaller {
  background: url(/assets/images/circle-smaller.svg) center no-repeat;
  opacity: 0.5;
  transform: scale(0.8);
  opacity: 0;
}
.circle-small {
  background: url(/assets/images/circle-small.svg) center no-repeat;
  opacity: 0.5;
}
.circle-dashes {
  background: url(/assets/images/circle-dashes.svg) center no-repeat;
  opacity: 0.4;
}
.circle-dots {
  background: url(/assets/images/circle-dots.svg) center no-repeat;
  opacity: 0.5;
}
.circle-larger {
  background: url(/assets/images/circle-larger.svg) center no-repeat;
  opacity: 0.2;
}

.score-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 100;
}

.score-logo {
  width: 20px;
  height: 20px;
  background: url(/assets/images/logo.svg) center no-repeat;
  display: block;
}

.score {
  font-size: 140px;
  display: inline-block;
  line-height: 120px;
  margin: 50px 0 50px 0;
}

.score-legend {
  font-size: 20px;
  line-height: 25px;
  text-transform: uppercase;
  opacity: .5;
  user-select: none;
}

.question {
  position: absolute;
  width: 210px;
  color: #7C73E6;
  z-index: 1000;
/*  background-image: linear-gradient(-60deg, #7C73E6 0%, #73ACE6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;*/
}

.question-title {
  font-size: 12px;
  text-transform: uppercase;
  line-height: 15px;
  position: relative;
}
.question-title::before {
  content: '';
  width: 60px;
  height: 1px;
  display: block;
  background: #7C73E6;
  background-image: linear-gradient(-60deg, #7C73E6 0%, #73ACE6 100%);
  margin: 10px 0;
  opacity: .3;
  position: absolute;
}
.question-title::after {
  content: '';
  width: 100%;
  height: 1px;
  display: block;
  background: #7C73E6;
  background-image: linear-gradient(-60deg, #7C73E6 0%, #73ACE6 100%);
  margin: 10px 0;
  opacity: .3;
}

.question-answer {
  background-position: right 10px top 13px;
  background-repeat: no-repeat;
  background-image: url(/assets/images/arrow.svg);
}
.question-answer select {
  -webkit-appearance: none;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  background-image: linear-gradient(-60deg, #7C73E6 0%, #73ACE6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  border: none;
  outline: none;
  width: 100%;
}

.question-first {
  top: 0;
  left: -210px;
}
.question-first .question-title::before {
  top: 51px;
  right: -51px;
  transform: rotate(45deg);
}

.question-second {
  top: 0;
  right: -210px;
}
.question-second .question-title::before {
  top: 51px;
  left: -51px;
  transform: rotate(-45deg);
}

.question-third {
  bottom: 0;
  left: -210px;
}
.question-third .question-title::before {
  top: 9px;
  right: -51px;
  transform: rotate(-45deg);
}

.question-fourth {
  bottom: 0;
  right: -210px;
}
.question-fourth .question-title::before {
  top: 9px;
  left: -51px;
  transform: rotate(45deg);
}

@-webkit-keyframes rotate-right /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-right {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotate-right {
  -webkit-animation: rotate-right 140s linear infinite;
  -moz-animation: rotate-right 140s linear infinite;
  -ms-animation: rotate-right 140s linear infinite;
  -o-animation: rotate-right 140s linear infinite;
  animation: rotate-right 140s linear infinite;
}

@-webkit-keyframes rotate-left /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@keyframes rotate-left {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
.rotate-left {
  -webkit-animation: rotate-left 140s linear infinite;
  -moz-animation: rotate-left 140s linear infinite;
  -ms-animation: rotate-left 140s linear infinite;
  -o-animation: rotate-left 140s linear infinite;
  animation: rotate-left 140s linear infinite;
}

@-webkit-keyframes pulsate /* Safari and Chrome */ {
  from {
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    opacity: .3;
  }
  to {
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pulsate {
  from {
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -ms-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    opacity: .3;
  }
  to {
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
.pulsate {
  -webkit-animation: pulsate 5s linear infinite;
  -moz-animation: pulsate 5s linear infinite;
  -ms-animation: pulsate 5s linear infinite;
  -o-animation: pulsate 5s linear infinite;
  animation: pulsate 5s linear infinite;
}

@-webkit-keyframes zoom /* Safari and Chrome */ {
  from {
    -webkit-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
  }
  20% {
    opacity: .6;
  }
  to {
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0;
  }
}
@keyframes zoom {
  from {
    -ms-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
  }
  20% {
    opacity: .8;
  }
  to {
    -ms-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0;
  }
}
.zoom {
  -webkit-animation: zoom 2.5s linear infinite;
  -moz-animation: zoom 2.5s linear infinite;
  -ms-animation: zoom 2.5s linear infinite;
  -o-animation: zoom 2.5s linear infinite;
  animation: zoom 2.5s linear infinite;
}